* {
  margin: 0;
  padding: 0;
}

main {
  section {
    background: linear-gradient(rgba(160, 160, 160, 0.7), rgba(160, 160, 160, 0.7)), url("../images/background.jpg");
    background-size: cover;
    display: inline-block;
    width: 75%;
    float: left;
    height: 900px;
    padding-top: 70px;
    form {
      width: 850px;
      max-width: 96%;
      margin: 0 auto;
      background-color: lightblue;
      box-sizing: border-box;
      padding: 10px 15px;
      border-radius: 7px;
      .error-message {
        text-align: center;
        color: #B3460F;
        margin: 0;
        font-size: 14px;
      }
      input, select, button {
        margin: 3px 0;
      }
      #result {
        background: white;
      }
      .btn-primary {
        width: 100%;
        background-color: #228EAB !important;
        border: 1px solid #228EAB;
        font-size: 18px;
      }
      .btn-primary:hover {
        background-color: #0F6BB3 !important;
        border: 1px solid #0F6BB3;
      }
    }

    #top10table {
      margin: 80px auto;
      width: 850px;
      max-width: 96%;
      border-radius: 10px;
      overflow: hidden;
      box-sizing: border-box;
      table {
        border-radius: 10px;
        background-color: aliceblue;
        margin-bottom: 0 !important;
        color: #18505A;
        tr:nth-child(even), thead > tr {
          background-color: lightblue;
        }
        td, th {
          border: none;
        }
        .table-heading {
          font-style: italic;
          padding-left: 15px;
        }
      }
    }
  }
  aside {
    height: 900px;
    width: 25%;
    display: inline-block;
    float: left;
    background: black;
  }
}

@media all and (max-width: 540px) {
  #top10table {
    table {
      td, th {
        padding: 4px 4px !important;
        font-size: 14px;
      }
    }
  }
}
