* {
  margin: 0;
  padding: 0; }

header {
  background: #F1F1DE; }

footer {
  background: #223843; }

footer, header {
  color: #d87a61;
  text-align: center;
  height: 80px;
  clear: both; }
  footer h1, header h1 {
    height: 100%;
    line-height: 80px;
    margin: 0; }

main section {
  background: linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0.7)), url("../images/background.jpg");
  background-size: cover;
  display: inline-block;
  width: 75%;
  float: left;
  height: 900px;
  padding-top: 80px; }
  main section form {
    width: 850px;
    max-width: 96%;
    margin: 0 auto;
    background-color: #F1F1FF;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 0 15px 1px grey; }
    main section form .error-message {
      text-align: center;
      color: #B3460F;
      margin: 0;
      font-size: 14px; }
    main section form #result, main section form #result-loc {
      height: calc(2.25rem + 2px) !important;
      background: #F5F0E0; }
    main section form #result:focus, main section form #result-loc:focus {
      box-shadow: none; }
    main section form input, main section form select {
      color: #18505A !important; }
    main section form input, main section form select, main section form button {
      margin: 3px 0; }
    main section form #sum {
      padding-right: .25rem; }
    main section form .btn-primary {
      width: 100%;
      background-color: #d87a61 !important;
      border: 1px solid #d87a61;
      font-size: 18px;
      font-weight: 600; }
    main section form .btn-primary:hover {
      background-color: #a2c5bf !important;
      border: 1px solid #a2c5bf; }
  main section #top8table {
    margin: 120px auto;
    width: 600px;
    max-width: 96%;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 15px 1px grey; }
    main section #top8table table {
      opacity: 0.8;
      border-radius: 10px;
      background-color: #FAFAFB;
      margin-bottom: 0 !important;
      color: #18505A;
      font-size: 15px; }
      main section #top8table table tr:nth-child(even), main section #top8table table thead > tr {
        background-color: #F1F1FF; }
      main section #top8table table td, main section #top8table table th {
        border: none; }
      main section #top8table table .table-heading {
        font-style: italic;
        padding-left: 15px; }
main aside {
  height: 900px;
  width: 25%;
  display: inline-block;
  float: left;
  background: #f1f1f3;
  box-sizing: border-box;
  padding: 1.5%;
  overflow: auto; }
  main aside .hotel-box {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    border-radius: 8px;
    background: #FAFAFB;
    box-sizing: border-box;
    padding: 5%;
    overflow: hidden; }
    main aside .hotel-box h3 {
      font-size: 24px;
      padding-bottom: 5px; }
      main aside .hotel-box h3 a {
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
        color: #333; }
      main aside .hotel-box h3 a:hover {
        color: #23527c; }
    main aside .hotel-box p, main aside .hotel-box h6 {
      margin: 5px 0; }
    main aside .hotel-box .img-wrapper {
      width: 100%;
      display: block; }
      main aside .hotel-box .img-wrapper img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        max-height: 300px; }
    main aside .hotel-box .img-wrapper:hover {
      opacity: 0.7; }

@media all and (max-width: 1200px) {
  main section {
    width: 100%;
    height: auto; }
  main aside {
    width: 100%;
    height: auto;
    overflow: visible; }
    main aside .hotel-box {
      display: inline-block;
      height: 400px;
      vertical-align: top; } }
@media all and (max-width: 540px) {
  main section {
    padding-top: 30px; }
    main section #top8table {
      margin: 40px auto; }
      main section #top8table table td, main section #top8table table th {
        padding: 4px 4px !important;
        font-size: 13px; } }

/*# sourceMappingURL=style.css.map */
