<html xmlns:th="http://www.thymeleaf.org">
<section>
    <form th:action="@{/}" method="POST">
        <fieldset>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <select class="form-control" name="sourceCurrency">
                        <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                th:text="${currency.code}"
                                th:selected="${sourceCurrency.equals(currency.code)}"></option>
                    </select>
                    <div th:if="${invalidSourceCurrencyMessage != null}">
                        <p class="error-message" th:text="${invalidSourceCurrencyMessage}"></p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6">
                    <select class="form-control" name="targetCurrency">
                        <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                th:text="${currency.code}"
                                th:selected="${targetCurrency.equals(currency.code)}"></option>
                    </select>
                    <div th:if="${invalidTargetCurrencyMessage != null}">
                        <p class="error-message" th:text="${invalidTargetCurrencyMessage}"></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <input type="number" min="0" class="form-control" th:value="${sum}" id="sum" placeholder="Sum"
                           name="sum"/>
                    <div th:if="${invalidSumMessage != null}">
                        <p class="error-message" th:text="${invalidSumMessage}"></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <input type="text" class="form-control" id="result" placeholder="Result"
                           name="result" th:value="${result}" readonly/>
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Convert</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="top10table">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th class="table-heading" th:each="list : ${top10rates}" th:text="${list[1].sourceCurrency.code}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${top10rates}">
                <th class="table-heading" th:text="${list[1].sourceCurrency.code}"></th>
                <td th:each="rate : ${list}" th:text="${rate.rate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<aside>
    <div th:if="${hotels == null or #lists.size(hotels) <= 1}" class="hotel-wrapper">
        <a href="https://locktrip.com/" class="img-wrapper">
            <img src="https://locktrip.com/img/LockTrip_logo.svg" alt="No Image"/>
        </a>
        <a href="https://locktrip.com/" class="img-wrapper">
            <img src="https://locktrip.com/img/img_banner.svg" alt="No Image"/>
        </a>
    </div>
    <div th:if="${hotels == null or #lists.size(hotels) <= 1}" class="hotel-wrapper">
        <a href="http://codexio.bg/" class="img-wrapper">
            <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/36565393_259375031490538_259064563209601024_o.jpg?_nc_cat=0&oh=efa9e60d957f50fd9fa34ebfc593e11d&oe=5BA11F2D" alt="No Image"/>
        </a>
    </div>
    <div class="hotel-wrapper" th:if="${hotels != null}" th:each="hotel : ${hotels}">
        <h3>
            <a th:href="@{${hotel.url}}" th:text="${hotel.destination}"></a>
        </h3>
        <a th:href="@{${hotel.url}}" class="img-wrapper">
            <img th:src="@{${hotel.pictureUrl}}" alt="No Image"/>
        </a>
        <h6 th:text="${'Price per night: ' + hotel.price + ' LOC'}"></h6>
        <p th:text="${'You can book a room in this hotel for ' + hotel.totalNights}"></p>
    </div>
</aside>
</html>
