<html xmlns:th="http://www.thymeleaf.org">
<section>
    <form th:action="@{/}" method="POST">
        <fieldset>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <select class="form-control" name="sourceCurrency">
                        <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                th:text="${currency.code}"
                                th:selected="${sourceCurrency.equals(currency.code)}"></option>
                    </select>
                </div>

                <div class="col-md-2 col-sm-6">
                    <select class="form-control" name="targetCurrency">
                        <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                th:text="${currency.code}"
                                th:selected="${targetCurrency.equals(currency.code)}"></option>
                    </select>
                </div>

                <div class="col-md-3 col-sm-6">
                    <input type="number" min="0" class="form-control" th:value="${sum}" id="sum" placeholder="Sum"
                           name="sum"/>
                </div>

                <div class="col-md-3 col-sm-6">
                    <input type="text" class="form-control" id="result" placeholder="Result"
                           name="result" th:value="${result}" readonly/>
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Convert</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="top10table">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th class="table-heading" th:each="list : ${rates}" th:text="${list[1].sourceCurrency.code}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${rates}">
                <th class="table-heading" th:text="${list[1].sourceCurrency.code}"></th>
                <td th:each="rate : ${list}" th:text="${rate.rate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>
