<html xmlns:th="http://www.thymeleaf.org">

<form th:action="@{/}" method="POST">
    <fieldset>
        <div class="row">
            <div class="col-sm-2">
                <select class="form-control" name="sourceCurrency">
                    <option th:each="currency : ${currencies}" th:value="${currency.code}" th:text="${currency.code}"
                            th:selected="${sourceCurrency.equals(currency.code)}"></option>
                </select>
            </div>

            <div class="col-sm-2">
                <select class="form-control" name="targetCurrency">
                    <option th:each="currency : ${currencies}" th:value="${currency.code}" th:text="${currency.code}"
                            th:selected="${targetCurrency.equals(currency.code)}"></option>
                </select>
            </div>

            <div class="col-sm-2">
                <input type="text" class="form-control" th:value="${sum}" id="sum" placeholder="Sum" name="sum"/>
            </div>

            <div class="col-sm-2">
                <input type="text" class="form-control" id="result" placeholder="Result"
                       name="result" th:value="${result}"/>
            </div>

            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Calculate</button>
            </div>
        </div>
    </fieldset>
</form>
<table>
    <thead>
    <tr>
        <th>USD</th>
        <th>BGN</th>
        <th>EUR</th>
        <th>USD</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>USD</td>
        <td>BGN</td>
        <td>EUR</td>
        <td>USD</td>
    </tr>
    <tr>
        <td>USD</td>
        <td>BGN</td>
        <td>EUR</td>
        <td>USD</td>
    </tr>
    <tr>
        <td>USD</td>
        <td>BGN</td>
        <td>EUR</td>
        <td>USD</td>
    </tr>
    <tr>
        <td>USD</td>
        <td>BGN</td>
        <td>EUR</td>
        <td>USD</td>
    </tr>
    </tbody>
</table>
</html>
